In [ ]:
import csv
import pandas as pd

In [7]:
df = pd.read_csv("../Assets/person_data - person_data.csv")
df.head()

   Name  Age    Country      City
0  Alex   16  Sri Lanka   Colombo
1   Mia   17  Australia    Sydney
2  Ravi   15        USA  New York
3  Sara   16         UK    London
4  Liam   17     Canada   Toronto

In [11]:
with open("../Assets/person_data - person_data.csv","r",newline='') as file:
    data = csv.reader(file)
    for row in data:
        print(row)

['Name', 'Age', 'Country', 'City']
['Alex', '16', 'Sri Lanka', 'Colombo']
['Mia', '17', 'Australia', 'Sydney']
['Ravi', '15', 'USA', 'New York']
['Sara', '16', 'UK', 'London']
['Liam', '17', 'Canada', 'Toronto']

In [12]:
with open("../Assets/person_data - person_data.csv","r",newline='') as file:
    data = csv.DictReader(file)
    for row in data:
        print(row)

{'Name': 'Alex', 'Age': '16', 'Country': 'Sri Lanka', 'City': 'Colombo'}
{'Name': 'Mia', 'Age': '17', 'Country': 'Australia', 'City': 'Sydney'}
{'Name': 'Ravi', 'Age': '15', 'Country': 'USA', 'City': 'New York'}
{'Name': 'Sara', 'Age': '16', 'Country': 'UK', 'City': 'London'}
{'Name': 'Liam', 'Age': '17', 'Country': 'Canada', 'City': 'Toronto'}

In [15]:
import csv

csv_file_path = "../Assets/samle_output.csv"

data = [
    {'Name': 'John Doe', 'Age': '30', 'City': 'New York'},
    {'Name': 'Jane Smith', 'Age': '20', 'City': 'Los Angeles'},
    {'Name': 'Bob Johnson', 'Age': '35', 'City': 'Chicago'},
]

field_names = ["Name","Age","City"]

In [19]:
with open(csv_file_path,'w',newline='') as csv_file:
    csv_writer = csv.DictWriter(csv_file,fieldnames=field_names)
    csv_writer.writeheader()
    csv_writer.writerows(data)

In [ ]:
input_file = "../Assets/input.txt"
output_file = "../Assets/evenlines.txt"

with open(input_file, "r") as infile, open(output_file, "w") as outfile:
    for index, line in enumerate(infile, start=1): 
        if index % 2 == 0: 
            outfile.write(line)